body {
    background-color: lightyellow;
    transition: background-color 0.5s ease;
    color: black;
    padding-top: 50px;
    height: 100%;
    width: 100%;
    margin: 0%;
}

a {
    text-decoration: none;
    transition: transform 0.5s ease, text-shadow 0.5s ease;
}

.text-container {
    width: 90%;
    height: 90%;
    margin: 5%;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 10 5 30%; /* Grow to fill the row, but not more than 25% */
}

.toggle-button {
    cursor: pointer;
    font-size: 3vw;
    padding: 10px 20px;
    border: none;
    background-color: rgb(rgb(0, 0, 0),0);
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.5s ease;
    z-index: 10;
}

.black-text {
    color: black;
    text-align: center; 
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-family: "Hina Mincho", serif;
    line-height: 100%;
    font-weight: 400;
    flex-wrap: wrap;
    margin: 0;
    width: auto;
}

.lightyellow-text {
    color: lightyellow;
    text-align: center;
    font-size: clamp(0.75rem, 1vw, 1.5rem);
    top: 0%;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    flex-wrap: wrap;
    width: auto;
    top: 0%;

}

/* This is to simulate the light toggling effect */
body.dark-mode {
    background-color: black;
    transition: background-color 0.5s ease;
}

body.dark-mode .lightyellow-text {
    color: lightyellow;
}

.text {
    display: inline-block; /* Allows transformation */
    margin: 4px; /* Base spacing, adjust as needed */
    position: relative; /* Start with relative positioning */
    flex: 10 5 30%; /* Grow to fill the row, but not more than 25% */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    padding: 3px; /* Optional, for spacing inside each span */
    width: auto;
    overflow-wrap: break-word;
}
  
.new-line {
    overflow-wrap: break-word;
    display: block; /* Or inline-block, if you prefer */
    width: 50vw;
      }

      @keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff, 0 0 100px #ffffff, 0 0 150px #ffffff;
        }
        to {
          text-shadow: 0 0 30px #fff, 0 0 40px lightyellow, 0 0 50px lightyellow, 0 0 60px lightyellow, 0 0 70px lightyellow, 0 0 80px lightyellow, 0 0 90px lightyellow, 0 0 100px lightyellow;
        }
      }
      .glow-text {
        color: black;
        font-size: clamp(0.75rem, 1vw, 1.5rem);
        text-align: center;
        align-items: center;
        animation: glow 1s ease-in-out infinite alternate;
        visibility: hidden;
        z-index: 10;
        width: 50vw;
        margin-left: 20%;
        margin-right:15%;
        height: 3vw;
        padding: 4%;
        position: fixed;
        top: 3%;
        font-family: "Anonymous Pro", monospace;
        font-weight: 700;
        z-index: -1;
      }