body, html {
        height: 100%;
        margin: 0;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: lightyellow;
        font-family: "Hina Mincho", serif;
        font-weight: 400;
        font-style: normal;
        font-size: x-large;
        cursor: url('/assests/glowing\ cursor.png'), auto;
    }

    #subheading {
      font-size: clamp(0.75rem, 1vw, 1.5rem);
      font-family: "Hina Mincho", serif;
        font-weight: 400;
        font-style: normal;;
        text-decoration: none;
        color: lightyellow;
        display: block;
        margin-top: 0%;
        text-shadow: 0 0 50px rgba(255, 255, 255, 1);
        transition: transform 0.5s ease, text-shadow 0.5s ease;
        letter-spacing:0.05em;
        transition: all 0.5s ease; /* Smooth transition for expanding effect */
        line-height: 110%;
        margin-top: 0%;
        margin-bottom: 15%;
    }

    #cursorCanvas {
      position: fixed;
      top: 0;
      left: 0;
      pointer-events: none;
      width: 100vw;
      height: 100vh;
      z-index: 1000; /* Adjust as necessary */
      cursor: url('/assests/glowing\ cursor.png')
  }
  
  
  .trail {
      pointer-events: none;
      position: absolute;
      border-radius: 50%;
      width: 2rem; 
      height: 2rem;
      background-color: lightyellow; 
      box-shadow: 0 0 10px 10px rgb(255, 255, 255); 
      opacity: 0.3;
      transition: all 0.5s ease-out; 
      z-index: 5;
  }
    
    a, button {
        cursor: url('/assests/glowing\ cursor.png'),auto;
    }

    .center {
        text-align: center;
        cursor: url('/assests/glowing\ cursor.png');
    }
    
    .hidden {
        visibility: hidden;
    }
    
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    
    .fade-in {
        visibility: visible;
        animation: fadeIn 2s forwards;
    }
    
    h1 {
        font-size: clamp(1.5rem, 3vw, 2.5rem);
        text-shadow: 0 0 20px rgba(255, 255, 255, 1);
        filter: drop-shadow(0 0 20px rgb(255, 255, 201, 0.5));
        font-kerning: none;
        letter-spacing:0.04em;
        margin-bottom: 3%;
    }
    
    a {
        font-size: clamp(0.5rem, 1vw, 2rem);
        font-family: "Anonymous Pro", monospace;
        font-weight: 400;
        font-style: normal;;
        text-decoration: none;
        color: lightyellow;
        display: block;
        margin-top: 0%;
        text-shadow: 0 0 50px rgba(255, 255, 255, 1);
        transition: transform 0.5s ease, text-shadow 0.5s ease;
        letter-spacing:0.05em;
        transition: all 0.5s ease; /* Smooth transition for expanding effect */
    }
    
    h2 {
        font-size: medium;
        font-family: "Anonymous Pro", monospace;
        font-weight: 400;
        font-style: normal;;
        text-decoration: none;
        color: lightyellow;
        line-height: 100%;
        display: block;
        margin-top: 0%;
        text-shadow: 0 0 50px rgba(255, 255, 255, 1);
        transition: transform 0.5s ease, text-shadow 0.5s ease;
        letter-spacing:0.05em;
        transition: all 0.5s ease; /* Smooth transition for expanding effect */
    }

    a:hover {
        transform: scale(1.8);
        text-shadow: 0 0 10px rgba(255, 255, 255, 1);
        filter: drop-shadow(0 0 10px rgb(255, 255, 201));
    }
    
    #transition-circle {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100px; /* Initial size of the circle */
        height: 100px; /* Initial size of the circle */
        background-color: lightyellow;
        border-radius: 50%;
        z-index: 9999;
        opacity: 1;
        transition: transform 3s, opacity 3s; /* Adjust timing as needed */
        box-shadow: 0 0 15px 20px lightyellow; /* Glowy effect */
      }
      
      @keyframes growAndFade {
        to {
          opacity: 1;
          transform: translate(-50%, -50%) scale(50); /* Scale value might need adjustment */
        }
      }
      
      .circle-expand {
        animation: growAndFade 5s forwards; /* Adjust duration as needed */
      }
      .scrolling-text-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        background-color: #000; /* Example background color */
        color: #fff; /* Example text color */
      }
      
      .scrolling-text {
        animation: scrollRight 20s linear infinite;
      }
      
      @keyframes scrollRight {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(-100%);
        }
      }
      